= form_for @user, :html => { :class => 'form-horizontal' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "There are #{pluralize(@user.errors.count, "error")}:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, "Username", :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :email, "Email address", :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password, :class => 'text_field'
      %div{:id=>"password-strength"}
        %div{:id=>"strength-desc"}
  .control-group
    = f.label :password_confirmation, "Confirm password", :class => 'control-label'
    .controls
      = f.password_field :password_confirmation, :class => 'text_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    -if @user && @user.id && @user.id>0
      = link_to t('.cancel', :default => t("helpers.links.cancel")), @user, :class => 'btn'
    -elsif @current_user && @current_user.is_admin
      = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
    -else
      = link_to t('.cancel', :default => t("helpers.links.cancel")), root_path, :class => 'btn'
