- model_class = User
.container
  .page-header
    %h3="All Users (Admin only)"
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:is_admin)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= link_to user.name, user_path(user)
          %td= user.email
          %td= user.is_admin
          %td=l user.created_at
          %td
            = link_to (raw t('helpers.links.edit')), edit_user_path(user), :class => 'btn btn-mini'
            = link_to (raw t('helpers.links.delete')), user_path(user), :method => :delete, confirm: "Delete user", :class => 'btn btn-mini btn-danger whiteText'