- model_class = User
.container
  .page-header
    %h3= "Dashboard"

  .row
    .span8.pull-left
      .headingBlock
        %h5= "Enrolled Experiments"
      %table.table.table-striped
        %thead
          %tr
            %th= 'Experiment'
            %th= 'Action'
            %th= 'Testify'
            %th= 'Time left'
        %tbody
          - @enrolled_experiments.each do |experiment|
            %tr
              %td= link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcome + '? (Measured in ' + experiment.unit + ")", experiment_path(experiment), :class=>'no-back-hover no-click-change'
              %td
                -if experiment.enrolled_status(@user.id) == 1
                  =experiment.action
                -elsif experiment.enrolled_status(@user.id) == 2
                  =experiment.control
                -else
                  ='Randomize to action!'
              %td
                -if experiment.enrolled_status(@user.id) > 0
                  .recorddata= link_to "Record Data", {:controller=>'datapoints',:action=>'new', :experiment_id=>experiment.id}, :class=>"btn btn-mini"
                  /%fieldset{:id => "recorddata"}
                  /  .container
                  /    =render 'datapoints/form'
                -else
                  =link_to "Randomize Action", randomize_path(:experiment_id => experiment.id), :method=>:post, :class=>"btn btn-mini"
              %td
                = Date.today# + experiment.timeframe


    .span4.pull-right
      .headingBlock
        %h5= "Recommended Experiments"
      %table.table.table-striped

        %thead
          %tr
            %th= 'Experiment'
            %th= 'Action'
        %tbody
          - @recommended_experiments.each do |experiment|
            -if experiment.is_public || (experiment.author==@current_user.id) || @current_user.is_admin
              %tr
                %td= link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcome + '? (Measured in ' + experiment.unit + ")", experiment_path(experiment), :class=>'no-back-hover no-click-change'
                %td
                  -if @current_user
                    -if experiment.is_enrolled(@current_user.id)
                      =link_to "Enrolled", root_path, :class=>"btn btn-mini", :disabled=>'disabled'
                    -else
                      =link_to "Testify", {:controller=>'experiments', :action=>'enroll', :id=>experiment.id}, :method=>:post, :class=>"btn btn-mini"

                  -else
                    =link_to "Testify", root_path, :class=>"btn btn-mini", :disabled=>"disabled"
                    .muted="Login to testify!"

  .form-actions
    -if @current_user && @current_user.is_admin
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn'
      = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn'
      =link_to 'Create New Experiment', new_experiment_path, :class => 'btn'
    -else
      .btn= link_to 'Home', root_path
    -if @current_user && @current_user.id == @user.id && !@current_user.is_admin
      = link_to 'Create New Experiment', new_experiment_path, :class => 'btn'
