- model_class = User
.popup= flash[:modal]
.container
  .page-header
    %h3= "Dashboard"

  -if @enrolled_experiments.empty?
    %em= "You are not signed up for any experiments. Enroll in an experiment today!"
    %br
    .pull-left
      %table.table.table-striped
        %thead
          %tr
            %th= 'Open Experiments'
        %tbody
          - @recommended_experiments.each do |experiment|
            -if experiment.is_public || (experiment.author==@current_user.id) || @current_user.is_admin
              %tr
                %td= link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name + '?', experiment_path(experiment), :class=>'no-back-hover no-click-change'

                -if !(experiment.first_enrollment(@current_user.id)) && experiment.permits_enrollment(@current_user.id)
                  =link_to (raw t('helpers.links.reenroll')), {:action=>'reenroll', :id=>experiment.id}, :method=>:post, :class=>"btn btn-mini"
                -else
                  -confirm_message = (experiment.outcomes.count {|outcome| outcome.has_init_value} > 0) ? "InitAssignedAction" : "AssignedAction #{experiment.action}"

                  -if !(experiment.prereqs.empty?)
                    %td{:id => "prereqs_cell"}
                      .prereqs= link_to (raw t('helpers.links.enroll')), '#', :class=>"btn btn-mini"
                      %fieldset.prereqs_menu
                        .container
                          %h4= "You must meet the following conditions to enroll:"
                          %p= experiment.prereqs
                          = link_to "Conditions not met", '#', :class=>"btn btn-mini", id: "prereqs_cancelbutton"
                          = link_to "Conditions met: Enroll me!", {:controller=>'experiments', :action=>'enroll', :id=>experiment.id}, method: :post, confirm: confirm_message, :class=>"btn btn-mini btn-primary whiteText"
                  -else
                    %td= link_to (raw t('helpers.links.enroll')), {:controller=>'experiments', :action=>'enroll', :id=>experiment.id}, method: :post, confirm:confirm_message, :class=>"btn btn-mini"

  -else
    %table.table.table-striped
      %thead
        %tr
          %th= 'Enrolled Experiments'
          %th= 'Assigned Action'
      %tbody
        - @enrolled_experiments.each do |experiment|
          %tr
            %td
              = link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name + '?', experiment_path(experiment)
              &nbsp;&nbsp;
              
              -if experiment.enrolled_status(@user.id) == -1
                %span{:id => "recorddata_cell"}
                  .recorddata= link_to (raw t('helpers.links.record.initvalue')), '#', :class=>"btn btn-mini"
                  %fieldset.recorddata_menu
                    .container
                      -@datapoint = Datapoint.new(experiment_id:experiment.id, user_id:@current_user.id)
                      -@experiment = experiment
                      =render 'datapoints/initform'

              -elsif ((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.minute).round <= 0
                %span{:id => "recorddata_cell"}
                  .recorddata= link_to (raw t('helpers.links.record.data')), '#', :class=>"btn btn-mini"
                  %fieldset.recorddata_menu
                    .container
                      -@datapoint = Datapoint.new(experiment_id:experiment.id, user_id:@current_user.id, iv_value:experiment.enrolled_status(@user.id))
                      -@experiment = experiment
                      =render 'datapoints/form'
              -else
                -if ((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.day).floor > 0
                  = "#{pluralize(((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.day).round, "day")}"
                -elsif ((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.hour).floor > 0
                  = "#{pluralize(((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.hour).round, "hour")}"
                -else
                  = "#{pluralize(((experiment.get_enroll(@user.id).end_time - DateTime.now) / 1.minute).round, "minute")}"
                &= "before you can record"
            %td
              -if experiment.enrolled_status(@user.id) == 1
                =experiment.action.humanize
              -else
                =experiment.control.humanize

  -if @managed_experiments.empty?
    %table.table
    =link_to "Create a new experiment", new_experiment_path
  -else
    %table.table.table-striped
      %thead
        %tr
          %th= 'Experiments you created'
          %th= 'Status'
      %tbody
        - @managed_experiments.each do |experiment|
          %tr
            %td
              = link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name + '?', experiment_path(experiment)
              &nbsp;&nbsp;
              -if @current_user.is_admin || (@experiment.author == @current_user.id && @experiment.datapoints.empty?)
                = link_to (raw t('helpers.links.edit')), edit_experiment_path(experiment), :class=>"btn btn-mini"
            %td
              -if 1==1
                ="Approved"
              -elsif 1==0
                .btn-mini= "Approve administrator changes"
              -else
                ="Pending approval"
    =link_to (raw t('helpers.links.new.experiment')), new_experiment_path, :class => 'btn btn-mini btn-primary whiteText'

  -#
    .span4.pull-right
      .headingBlock
        %h5= "Recommended Experiments"
      %table.table.table-striped
        %thead
          %tr
            %th= 'Experiment'
            %th= 'Enroll'
        %tbody
          - @recommended_experiments.each do |experiment|
            -if experiment.is_public || (experiment.author==@current_user.id) || @current_user.is_admin
              %tr
                %td= link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name + '?', experiment_path(experiment), :class=>'no-back-hover no-click-change'
                %td= link_to t('helpers.links.enroll'), {:controller=>'experiments', :action=>'enroll', :id=>experiment.id}, method: :post, confirm: experiment.prereqs.empty? ? nil : "Prereqs #{@experiment.prereqs}", :class=>"btn btn-mini"

  .row
  -#
    .span8.pull-left
      .headingBlock
        %h5= "Previous Experiments"
      %table.table.table-striped
        %thead
          %tr
            %th= 'Experiment'
            %th= 'Last enrolled'
            %th= 'Enroll'
        %tbody
          - @enrolled_experiments.each do |experiment|
            %tr
              %td= link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name + '?', experiment_path(experiment)
              %td= "TKTK"
              %td= "TKTK"
