= form_for @experiment, :html => {} do |f|
  - if @experiment.errors.any?
    #error_explanation
      %h2= "There are #{pluralize(@experiment.errors.count, "error")}:"
      %ul
        - @experiment.errors.full_messages.each do |msg|
          %li= msg

  %h5='What is the impact of'
  =f.text_field :action, :class => 'text_field span6', :placeholder => 'Action (eg. "Performing 20 mins of exercise")', :id=>'expAction', :autocomplete => :off
  %br
  .input-prepend
    %span.add-on="vs."
    = f.text_field :control, :class => 'text_field span6', :placeholder => 'Control (eg. "Performing 0 mins of exercise")', :id=>'expControl', :autocomplete => :off
  %br
  .input-prepend
    %span.add-on="on"
    = f.text_field :outcome, :class => 'text_field span3', :placeholder => 'Outcome (eg. "Weight")', :autocomplete => :off
  .input-prepend
    %span.add-on="as measured in"
    = f.text_field :unit, :class => 'text_field span2', :placeholder => 'Units (eg. "lb.")', :autocomplete => :off
  %br
  %br
  %strong= 'Advanced options'
  %br
  .field
    Minimum time between trial entries: 
    %i{:class => "fa fa-info-circle", :title => "Set the time frame of your trials in order to prevent users from making repeated and frivolous entries."}
    %br
    = f.radio_button :timeframe, "0"
    Hourly
    %br
    = f.radio_button :timeframe, "1"
    Daily
    %br
    = f.radio_button :timeframe, {}
    Other (enter a duration in days)
    = f.text_field :timeframe, :class => 'text_field span1', :placeholder => '7', :autocomplete => :off
    %br
    = f.radio_button :timeframe, "-1"
    Restrict to one trial per person
    %br
  .field
    .contentBlock='Conditions for participation in the experiment'
    = f.text_area :prereqs, :class => 'text_area span6', :placeholder => 'Enter conditions that people must meet in order to participate in the study.'
  .field
    = f.check_box :is_public, {}, false, true
    %span='Make this experiment private'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), experiments_path, :class => 'btn'