= form_for @experiment, :html => {} do |f|
  - if @experiment.errors.any?
    #error_explanation
      %h2= "There are #{pluralize(@experiment.errors.count, "error")}:"
      %ul
        - @experiment.errors.full_messages.each do |msg|
          %li= msg

  .contentBlock='What is the impact of'
  %br
  =f.text_field :action, :class => 'text_field span6', :placeholder => 'Action (eg. "Performing 20 mins of exercise")', :id=>'expAction'
  %br
  %br
  .input-prepend
    %span.add-on="vs."
    = f.text_field :control, :class => 'text_field span6', :placeholder => 'Control (eg. "Performing 0 mins of exercise")', :id=>'expControl'
  %br
  %br
  .contentBlock='On'
  = f.text_field :outcome, :class => 'text_field span3', :placeholder => 'Outcome (eg. "Weight")'
  %br
  %br
  .contentBlock='As measured in'
  = f.text_field :unit, :class => 'text_field span3', :placeholder => 'Units (eg. "lb.")'
  %br
  %br
  %strong= 'Optional'
  .contentBlock='Timespan of a single trial (in days)'
  %br
  = f.text_field :duration_in_days, :class => 'text_field span6', :placeholder => '0 days'
  %br
  .contentBlock='Conditions for participation in the experiment'
  %br
  = f.text_area :prereqs, :class => 'text_field span12', :placeholder => 'Enter conditions that people must meet in order to participate in the study.'
  .contentBlock='Make this experiment private'
  %br
  = f.check_box :is_public, {}, false, true

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), experiments_path, :class => 'btn'