- model_class = Experiment
.container
  .page-header
    %h2="All Experiments"
  %table.table

    %thead
      %tr
        %th= 'Experiment'
        %th= 'Category'
        %th= 'Date created'
    %tbody
      - @experiments.each do |experiment|
        -if experiment.is_public || (@current_user && ((experiment.author==@current_user.id) || @current_user.is_admin))
          %tr
            %td
              = link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name+'?', experiment_path(experiment), :class=>'no-back-hover'
              &nbsp;&nbsp;
              -if @current_user
                -if experiment.is_enrolled(@current_user.id)
                  =link_to (raw t('helpers.links.unenroll')), {:action=>'unenroll', :id=>experiment.id}, :method=>:post, :class => 'btn btn-mini'
                  
                -elsif experiment.first_enrollment(@current_user.id)
                  =link_to (raw t('helpers.links.enroll')), {:action=>'enroll', :id=>experiment.id}, method: :post, confirm: experiment.prereqs.empty? ? nil : "Prereqs #{experiment.prereqs}", :class=>"btn btn-mini"

                -elsif experiment.permits_enrollment(@current_user.id)
                  =link_to (raw t('helpers.links.reenroll')), {:action=>'reenroll', :id=>experiment.id}, :method=>:post, :class=>"btn btn-mini"
                
                -elsif experiment.get_enroll(@current_user.id).next_time > DateTime.now
                  -if ((experiment.get_enroll(@current_user.id).next_time - DateTime.now) / 1.hour).floor > 0
                    = "You may re-enroll in #{pluralize(((experiment.get_enroll(@current_user.id).next_time - DateTime.now) / 1.hour).round, "hour")}"
                  -else
                    = "You may re-enroll in #{pluralize(((experiment.get_enroll(@current_user.id).next_time - DateTime.now) / 1.minute).round, "minute")}"
                -else
                  = "This experiment does not allow multiple trials."
              -else
                .muted="Log in to enroll!"
            %td= experiment.category
            %td
              -if DateTime.yesterday > experiment.created_at
                = experiment.created_at.strftime("Created %b %-d")
              -else
                = "Created"
                -if (-(experiment.created_at - DateTime.now) / 1.hour).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.hour).round, "hour")} ago"
                -elsif (-(experiment.created_at - DateTime.now) / 1.minute).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.minute).floor, "minute")} ago"
                -else
                  = "just now"

  -if @current_user
    = link_to (raw t('helpers.links.new.experiment')), new_experiment_path, :class => 'btn btn-primary whiteText'