= form_for @datapoint, :html => { :class => 'form-vertical' } do |f|
  %em='What is the impact of ' + @experiment.action + ' on ' + @experiment.outcome+'?'
  %br
  %br
  %strong='Your recommended action: '
  %span
    -if @experiment.enrolled_status(@user.id) == 1
      = @experiment.action.humanize
    -elsif @experiment.enrolled_status(@user.id) == 2
      = @experiment.control.humanize
  %br
  %br
  .control-group
    %strong
      Which action did you take?
    .controls{:style=>'padding-left:10px;'}
      = f.radio_button :compliance, true
      = (@experiment.enrolled_status(@user.id)==1 ? @experiment.action : @experiment.control).humanize
      %br
      = f.radio_button :compliance, false
      = (@experiment.enrolled_status(@user.id)==1 ? @experiment.control : @experiment.action).humanize
  .control-group
    %strong
      = 'Record ' + @experiment.outcome + ' in ' + @experiment.unit + ': '
    .controls
      = f.text_field :value, :class => 'text_field'
      /= 'Value 2'
      /= f.text_field :value2, :class => 'text_field', :placeholder=>'Update data here in ' + @experiment.unit.downcase
      %br
      = radio_button_tag 'action', 'Unknown'
      Unknown
      %i{:class => "fa fa-info-circle", :title => "If you didn't get to record your outcome, please check this button instead of trying to guess."}
      = f.hidden_field :experiment_id
      = f.hidden_field :user_id
    
    /= 'Optional: add a comment, such as other actions you took that may have influenced your outcome.'
    /.controls
    /  = f.text_field :comment, :class => 'text_field'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), datapoints_path, :class => 'btn'