= form_for @datapoint, :html => { :class => 'form-vertical' } do |f|
  ='What is the impact of ' + @experiment.action + ' on ' + @experiment.outcome+'? (Measured in ' + @experiment.unit + ')'
  %br
  %br
  ='Your Recommended Action: '
  %span.muted
    -if @experiment.enrolled_status(@user.id) == 1
      = @experiment.action
    -elsif @experiment.enrolled_status(@user.id) == 2
      =@experiment.control
  %br
  %br
  .control-group
    %strong
      Did you perform the following action?
    %br
    = @experiment.action
    .controls{:style=>'padding-left:10px;'}
      = f.check_box :compliance, :class => 'check-box_field'
      Yes
      /= radio_button_tag 'action', 'Yes'
      /Yes
      /%br
      /= radio_button_tag 'action', 'No'
      /No
  %br
  .control-group
    %strong
      = 'Record ' + @experiment.outcome + ' in ' + @experiment.unit + ': '
    .controls
      = f.text_field :value, :class => 'text_field', :placeholder=>'Update data here in ' + @experiment.unit.downcase
      /= 'Value 2'
      /= f.text_field :value2, :class => 'text_field', :placeholder=>'Update data here in ' + @experiment.unit.downcase
      = radio_button_tag 'action', 'Unknown'
      Unknown
      = f.hidden_field :experiment_id
      = f.hidden_field :user_id
    
    = 'Optional: add a comment, such as other actions you took that may have influenced your outcome.'
    .controls
      = f.text_field :comment, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), datapoints_path, :class => 'btn'