= form_for @datapoint, :html => { :class => 'form-vertical' } do |f|
  %em='What is the impact of ' + @experiment.action + ' on ' + @experiment.outcomes.first.name+'?'
  %br
  %br
  %strong='Your recommended action: '
  %span
    = (@experiment.enrolled_status(@user.id) == 1 ? @experiment.action : @experiment.control).humanize
  %br
  %br
  .control-group
    %strong
      Which action did you take?
    .controls{:style=>'padding-left:10px;'}
      = f.radio_button :compliance, true
      = (@experiment.enrolled_status(@user.id)==1 ? @experiment.action : @experiment.control).humanize
      %br
      = f.radio_button :compliance, false
      = (@experiment.enrolled_status(@user.id)==1 ? @experiment.control : @experiment.action).humanize
  .control-group
    - @experiment.outcomes.each do |outcome|
      %strong
        = 'Record ' + outcome.name + (!outcome.unit.empty? ? (' in ' + outcome.unit) : '') + ': '
      .controls
        = f.text_field :value, :class => 'text_field'
        %br
        = radio_button_tag 'action', 'Unknown'
        /Link this to something
        /Should not let someone select this with a filled text field
        = "Unknown"
        %i{:class => "fa fa-info-circle", :title => "Click this button if you are unsure of your "+@experiment.outcomes.first.name+"."}
      %br

    = f.hidden_field :experiment_id
    = f.hidden_field :user_id
    = f.hidden_field :iv_value
    
    /= 'Optional: add a comment, such as other actions you took that may have influenced your outcome.'
    /.controls
    /  = f.text_field :comment, :class => 'text_field'

  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), datapoints_path, :class => 'btn'