- model_class = Datapoint
.page-header
  %h1='All available data'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:experiment_id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:value)
      %th= model_class.human_attribute_name(:value2)
      %th= model_class.human_attribute_name(:compliance)
      /%th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @datapoints.each do |datapoint|
      %tr
        %td= link_to datapoint.id, datapoint_path(datapoint)
        %td= datapoint.experiment_id
        %td= datapoint.user_id
        %td= datapoint.value
        %td= datapoint.value2
        %td= datapoint.compliance
        /%td=l datapoint.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_datapoint_path(datapoint), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), datapoint_path(datapoint), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_datapoint_path, :class => 'btn btn-primary'
/= link_to "Delete all", root_path, :class => 'btn btn-primary'

%br
%h5= "Download"
= link_to "CSV", datapoints_path(format: 'csv')
= link_to "Excel", datapoints_path(format: 'xls')

%br
%h5= "Import"
= form_tag import_datapoints_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"

%br
%h5= "Analyze"
= link_to "Analyze", analyze_datapoints_path, :method=>:post, :class=>"btn btn-mini"