%h1 All Pending Experiments

.container
  .page-header
    %h2="Showing All Experiments Pending My Acceptance"
  %table.table

    %thead
      %tr
        %th= 'Experiment'
        %th= 'Category'
        %th= 'Date created'
    %tbody
      - @experiments.each do |experiment|
        -if experiment.is_public || (@current_user && ((experiment.author==@current_user.id) || @current_user.is_admin))
          %tr
            %td
              = link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name+'?', edit_experiment_path(experiment), :class=>'no-back-hover'

            %td= experiment.category
            %td
              -if DateTime.yesterday > experiment.created_at
                = experiment.created_at.strftime("Created %b %-d")
              -else
                = "Created"
                -if (-(experiment.created_at - DateTime.now) / 1.hour).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.hour).round, "hour")} ago"
                -elsif (-(experiment.created_at - DateTime.now) / 1.minute).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.minute).floor, "minute")} ago"
                -else
                  = "just now"

.container
  .page-header
    %h2="Showing All Experiments Pending User Acceptance"
  %table.table

    %thead
      %tr
        %th= 'Experiment'
        %th= 'Category'
        %th= 'Date created'
    %tbody
      - @experiments_wait.each do |experiment|
        -if experiment.is_public || (@current_user && ((experiment.author==@current_user.id) || @current_user.is_admin))
          %tr
            %td
              = link_to 'What is the impact of ' + experiment.action + ' on ' + experiment.outcomes.first.name+'?', experiment_path(experiment), :class=>'no-back-hover'
            %td= experiment.category
            %td
              -if DateTime.yesterday > experiment.created_at
                = experiment.created_at.strftime("Created %b %-d")
              -else
                = "Created"
                -if (-(experiment.created_at - DateTime.now) / 1.hour).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.hour).round, "hour")} ago"
                -elsif (-(experiment.created_at - DateTime.now) / 1.minute).floor > 0
                  = "#{pluralize((-(experiment.created_at - DateTime.now) / 1.minute).floor, "minute")} ago"
                -else
                  = "just now"
